 *{
    box-sizing: border-box;
    margin: 0.5%;
    padding: 8px;
    border:  1px;
    border-radius: 5px;
    content: 1px;
    border-color: rgb(13, 0, 17); 
   width: 100% auto ;

}

img{
    width: 30vw ;
}


figure {
    margin: 0%;
    padding-bottom: 0%;
    padding-left: 2.5%;
    content: 100%;
    border-radius: 10px;
    background-color: rgb(202, 162, 235);
    height: auto;
    width: 400%;
    max-width: 35vw; 
}

img{
    display: block;
    margin-top: 3%;
    max-width: 35vw; 
    max-height: 250px;
    height: auto;
    width: auto auto ;
    border: solid rgb(75, 47, 96);
    padding: 0%;
    border-radius: 15px;
}

figcaption{
    font-family: "Playwrite IT Moderna", serif;
    text-align: left;
    font-size: 12px;
    color: #200233;
}

#logo {
    position: absolute;
    margin-top: 0%;
    margin-left: 45%;
    content: normal;
    align-content: center;
    height: auto;
    max-width: 20vh;
    width: 10vw; 
    border:  none;

}

#profile{
    height: 150px;
    margin-left: 5%;
    max-width: fit-content;
}

/*flex layout*/
.main-flex{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: wrap;
  gap: 20px;
}
.team{
    flex: 1 1 30%;
    border: 1px solid #910ba8;
    box-shadow: 2px 2px 8px rgba(109, 39, 159, 0.1);
   /* padding-left: 1rem;*/
    text-align: left;
    background-color: rgb(188, 144, 221);
}

.flex-nav{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    
   
    

}
.ul-flex{
    display: flex ;
   order: initial;
   align-items: center;
   list-style: none;
   flex-direction: row;
   flex: content;
    
}
.footer-flex{
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-flow: nowrap;
    align-items: center;

    
}
.footer-flex-1{
    order: initial;
    align-self: center;
    padding-left: 0%;
}
.footer-flex-2{
    align-self: center;
    
    padding-left: 10%;
    padding-right: 10%;
}

#grid-container{
    display: grid;
    grid-template-areas:
      "header header header"
      "nav main aside"
      "footer footer footer";
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: auto 1fr auto;
}


.grid-header{
    grid-area: header;
    grid-column-start: 1;
    grid-column-end: 4;
}

.grid-nav{
    grid-area: nav;
    grid-column: auto;
    align-self: first baseline;
    font-size: medium;
    padding-right: 55%;
}

.ul-nav-grid{
    flex-direction: column;
}



.grid-main{
    grid-area: main;
}
    
.grid-aside{
    grid-area: aside;
    justify-self: first baseline;
    justify-items: right;
    font-size: small;
    text-align: right;
    
}
.ul-aside-grid{
    list-style: none;
}



.footer-grid{
    display: grid;
    grid-area: footer;
    grid-template-columns: 2fr 3fr 2fr;
    
    
    
}

.footer-grid1{
    padding-left:  1%;
}


#ul-foot-grid1{
    list-style: none;
    
}

    






