@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Libre+Barcode+39+Extended+Text&family=Playwrite+IT+Moderna:wght@100..400&display=swap');




body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;

}


header {
    text-align: center;
   margin-top: 10%;
    color: rgb(81, 5, 90); /*would match the bacground*/
    background-image: url(../images/white-peonies-and-buds-arranged-on-a-purple-background-free-photo.jpeg);
   
}



.mainhead{
    line-height: 100% ;
    font-size: medium;
}

h1{
    font-family: "Playwrite IT Moderna", serif;
    font-weight: 300;
    font-style: normal;
    color: #2e033b; /*would match the bacground*/

}

h2 ,
h3 {
    font-family:  "Playwrite IT Moderna", serif;
    font-weight: normal;
    font-style: normal;
    color: rgb(81, 5, 90); /*would match the bacground*/
}

p {
    font-family: "Poppins", serif;
    font-size: 0.7em;
    font-weight:  normal;
    font-style: normal;
    color: #2d013e; /*would match the bacground*/
    
}

nav {
    font-family: "Playwrite IT Moderna", serif;
    color: rgb(102, 45, 102); /*would match the bacground*/
    width: 30%;
    text-align: center;
    margin: 0 auto;
    margin-top: 2%;

}

.head {
    border: 3px solid rgb(128, 36, 128); /*would match the bacground*/
    border-radius: 10px;
    padding: auto;
     
}

#firstname {
    font-family: "Playwrite IT Moderna", serif;
    font-optical-sizing: auto;
    font-weight:bold;
    font-style: normal;
    color: rgb(84, 44, 84); /* it's matching the mauve background*/
}

 /*img {border-radius: 100px;}*/

footer {
    
    font-family: "Playwrite IT Moderna", serif;
    text-align: center;
    background: radial-gradient(circle, rgba(90,51,100,1) 0%, rgba(227,164,255,1) 100%); /*would match the bacground*/
    


    
} 

html {
    background-color: rgb(212, 189, 228); /* I really love this color */

}

a:link {
    color: #4c0682; /*would match the bacground*/
}

a:visited {
    color: #160652; /* reminds the link color but is different*/
}

a:hover {
    color: rgb(222, 180, 15); /* trying to make contranst*/
    text-decoration: underline;
}
a:active {
    color: #d2031e; /* It would add peps*/
}

/* padding: 1rem;*/

